<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus Endereços - Auxilium</title>
</head>

<body>
    <div class="corpo">
        <div>
            <h2 class="texto_cabecalho" style="font-size: 40px;">MEUS ENDEREÇOS</h2>
        </div>
        <button>Novo Endereço</button>

        <div class="linha">
            <ul>
                <li class="caixas">
                    
                    <p class="texto_cabecalho">Endereço 1</p>
                </li>
                <li class="caixas">
                    
                    <p class="texto_cabecalho">Endereço 2</p>
                </li>
                <li class="caixas">
                    
                    <p class="texto_cabecalho">Endereço 3</p>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>