   body {
            display: flex;
            flex: 1;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            flex-direction: column;
            background-color: rgb(255, 255, 255);


        }

        main {
            margin-top: 200px;
        }

        header {
            display: flex;
            flex: 1;
            padding-top: 50px;
            flex-direction: row;
            align-items: end;
            padding: 20px;
            position: fixed;
            width: 95%;
            /* background-color: rgb(8, 94, 121); */
            background-color: white;
            justify-content: center;
            

        }

        #container_header {
            display: flex;
            width: 1300px;
            height: 60px;
            border: solid #EF2B00 3px;
            margin-left: 35px;
            align-items: center;
            padding-left: 30px;
            flex-direction: row;
            justify-content: space-around;

        }

        .text_header {
            display: flex;
            font-family: 'Segoe UI';
            color: #EF2B00;
            font-size: 20px;
            font-weight: 500;
            flex-direction: row;
            justify-content: center;
            align-items: inherit;
            text-decoration: none;
        }

        #container_profile {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;

        }

        .carousel-container {
            display: flex;
            background-color: #ffffff;
            flex-wrap: wrap;
            margin: 90px;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        .cards {
            flex: 0 0 auto;
            border: solid #EF2B00 3px;
            height: 430px;
            max-width: 300px;
            margin: 20px;          


        }

        .details-button {
            background-color: #EF2B00;
            color: #ffffff;
            display: flex;
            justify-content: center;
            text-decoration: none;
        }


        .promo_containers {
            display: flex;
            flex: 1;
            background-color: #00ff04;
            height: 600px;
            align-self: center;
            justify-content: center;
            margin: 105px;
            align-items: center;
        }

        .painel {

            display: none;
            position: absolute;
            top: 135px;
            left: 0;
            width: 100%;
            background-color: #ffffff;
            padding: 10px;
            border: 1px solid #ffffff;
            animation: abrirPainel 0.1s ease forwards;
            height: 300px;
            align-self: center;
            align-items: center;
        }

        @keyframes abrirPainel {
            from {
                opacity: 0;
                transform: translateY(-10px);

            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }


        .painel_container {
            flex: 1;
            display: flex;
            align-items: center;
            flex-direction: column;


        }

        .menu {
            position: relative;
        }

        .banner {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
            /* Centraliza horizontalmente */
        }

        .banner-container {
            max-width: 70%;
            margin: 0 auto;
            overflow: hidden;
        }

        /* Estilos específicos para cada banner */
        .banner1 {
            width: 100%;

        }

        .banner2 {
            width: 100%;
        }

        .banner3 {
            width: 100%;
        }

        /* Responsividade */
        @media screen and (max-width: 768px) {
            .banner-container {
                max-width: 90%;
            }
        }