/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 26 de fev. de 2024, 15:19:22
    Author     : eliseu.santos
*/
main{
    display: flex;
    flex-direction: row;
    position: relative;
}

html{
    background-image: url('../images/backgroundlogin.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y:129% ;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}


#container_login{
    width: 550px;
    height: 750px;
    background-color: #EDEDED;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

#container_input > form  > div > h1 {
    font-family: "Segoe UI";
    font-size: 60px;
    font-weight: bold;
    justify-content: center;
    align-self: center;
    margin-top: 10px;
}

#container_input > form  > div > h2 {
    font-family: "Segoe UI";

    font-weight: bold;
}
input{
    background-color: #EDEDED;
    width: 450px;
    height: 45px;
    border-width: 3px;
    border-radius: 10px;   
    text-align: center;
    font-size: 25px;
    font-family: "Segoe UI";
    font-weight: bold;
    margin-bottom: 30px;
}

.container_button > button{
    background-color: black;
    width: 460px;
    height: 70px;
    border-radius: 25px;
    color: white;
    font-family: "Arial";
    font-size: 25px;
    font-weight: bolder;
    margin-top: 35px;
    text-align: center;
}
#logo img {
    width: 800px;
    height: 200px;
}
#logo  {
    position: relative;
    bottom: 50px;
    right: 150px;

}


#container_input > form > div > h2{
    font-size: 20px;
}

.esqueceu{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: "Arial";
    font-size: 30px;
    margin-top: 15px;
    
}

.esqueceu > p > a {
    color: black;
}
