/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 26 de fev. de 2024, 15:19:22
    Author     : eliseu.santos
*/
main{
    display: flex;
    flex-direction: row;
    position: relative;
}

html{
    background-image: url('../images/ui.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y:300% ;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}


#container_login{
    width: 350px;
    height: 450px;
    background-color: #EDEDED;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

#container_input > div > h1 {
    font-family: "Segoe UI";
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
    align-self: center;
    margin-top: 5px;
}

#container_input > div > h2 {
    font-family: "Segoe UI";

    font-weight: bold;
}
input{
    width: 250px;
    height: 25px;
    border-width: 3px;
    border-radius: 10px;   
    text-align: center;
    font-size: 10px;
    font-family: "Segoe UI";
    font-weight: bold;
}

.container_button > button{
    background-color: black;
    width: 260px;
    height: 40px;
    border-radius: 15px;
    color: white;
    font-family: "Segoe UI";
    font-size: 15px;
    font-weight: bolder;
    margin-top: 35px;
    text-align: center;
}
#logo img {
    width: 800px;
    height: 200px;
}
#logo  {
    position: relative;
    bottom: 250px;
    right: 300px;

}

#container_input > div > h2{
    font-size: 13px;
}

.esqueceu{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: "Segoe UI";
}